.main {
  display: flex;
  justify-content: center;
}

.main-header {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.header__logo {
  background-image: url('./assets/img/logo.svg');
  width: 80px;
  height: 85px;

}
.sidebar {
  display: flex;
}


.filter-container {
  background-color: #FFFFFF;
  height: 255px;
  width: 232px;
  border-radius: 5px;
  box-shadow: 0px 2px 8px 0px #0000001A;
}

.filter-container .header {
  font-size: 12px;
  padding-top: 15px;
  padding-left: 20px;
  text-transform: uppercase;
  color: #4A4A4A;
  letter-spacing: 0.5px;
  font-weight: 700;
}

.filter-list_items {
  margin-top: 15px;
}

.filter-item {
  display: flex;
  height: 40px;
  padding-left: 25px;
  align-items: center;
}

div.filter-item:hover {
  background-color: #F1FCFF;
  cursor: pointer;
}

.filter-item .label{
  font-size: 18px;
  margin-left: 10px;
  color: #4A4A4A;
}


.option {
  display: block;
  margin-bottom: 0.5em;
}



/* Check */

.check {
  padding-left: 1.2em;
}

.check__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check__box {
  position: absolute;
  margin-top: 0.1em;
  margin-left: -1.5em;
  width: 1.0em;
  height: 1.0em;
  overflow: hidden;
  border-radius: 0.05em;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0 0 0 0.1em #4A90E2;
}

/* Checked */

.check__input:checked + .check__box {
  background-image: url(./assets/img/on.svg);
}

/* Focused */

.check__input:focus + .check__box {
  box-shadow:
      0 0 0 0.1em #4A90E2,
      0 0 0 0.2em #7ED321;
}

/* Disabled */

.check__input:disabled + .check__box {
  box-shadow: 0 0 0 0.1em #9B9B9B;
}

.check__input:checked:disabled + .check__box {
  background-color: #9B9B9B;
}


/* Content */

.content {
  margin-left: 20px;
}

.sort-filter {
  display: flex;
  background-color: #fff;
  width: 502px;
  height: 50px;
}

.sort-filter__item {
  width: 168px;
  height: 50px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #DFE5EC;
}

.sort-filter__item:hover {
  background-color: #2196F3;
  color: #fff;
}

.sort-filter__item span {
  font-weight: bold;
}


.sort-filter__item:nth-child(1) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

}



.sort-filter__item:nth-child(3) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


.sort-filter__item span {
  display: block;
}

 /* active */
.sort-filter__item:nth-child(1) {
  background-color: #2196F3;
  color: #fff;
}

/* Card list*/

.card-list {
  margin-top: 20px;
}

.card-list__item {
  width: 502px;
  height: 184px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #fff;
 
}

.card-list__item__header {
  padding-left: 20px;
  padding-right: 20px;
}

.card-list__item__content {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;

}
.card-list__item__logo {
  background-image: url('./assets/img/card-logo.svg');
  width: 110px;
  height: 36px;
  display: block;
}

.card-list__item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-list__item__header span {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 600;
  color: #2196F3;
}

.content__block__row {
  display: flex;
  flex-wrap: wrap;
  width: 462px;
  justify-content:space-between;
}

.content__block {
 width: 141px;
 height: 39px;
}

.card-list__item__loadmore {
  display: flex;
  background-color: #2196F3;
  width: 502px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 0px 2px 8px 0px #0000001A;
  align-items: center;
  justify-content: center;
}

.card-list__item__loadmore span {
  color: #fff;
}

.card-list__item__loadmore:hover {
    background-color: #1687e4;
}

.content__block span {
  display: block;
}

.content__block {
  width: 131px;
  height: 49px;
  text-transform: uppercase;
  font-weight: 600;
}


.content__block__secondary {
  color: #A0B0B9;
  font-size: 12px;
}

.content__block__main {
  color: #4A4A4A;
  font-size: 14px;
}